# PostgreSQL Connection String (used by Prisma)
DATABASE_URL="postgresql://db_user:db_password@localhost:5432/routereserve_db?schema=public"

# JWT Token Verification Secret Key
JWT_SECRET="your-jwt-alphanumeric-secret-key-goes-here"

# API Port
PORT=5000
